@{
    var form = Model.Form;
    var ok = Model.Ok;
    var cancel = Model.Cancel;
}

<form name="@(form)" novalidate>
    <div class="form-group" ng-class="{'has-error': _submitted && @(form).url.$invalid}">
        <label>URL <span class="required-indicator">*</span></label>
        <div class="input-group">
            <input class="form-control" name="url" type="text" placeholder="URLを入力"
                   ng-model="_input.Uri" ng-maxlength="@(WebConsts.MaxRefLinkUrlLength)" required
                   ng-blur="onUrlBlur()" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="getTitle(@(form).url.$valid)">タイトルを取得</button>
            </span>
        </div>
        <span class="help-block" ng-show="_submitted && @(form).url.$error.url">有効なURLの形式で入力してください</span>
        <span class="help-block" ng-show="_submitted && @(form).url.$error.required">URLを入力してください</span>
        <span class="help-block" ng-show="_submitted && @(form).url.$error.maxlength">
            @(WebConsts.MaxRefLinkUrlLength)文字以内で入力してください
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': _submitted && @(form).title.$invalid}">
        <label>タイトル <span class="required-indicator">*</span></label>
        <input class="form-control" name="title" type="text" placeholder="タイトルを入力"
               ng-model="_input.Title" ng-maxlength="@(WebConsts.MaxRefLinkTitleLength)" required />
        <span class="help-block" ng-show="_submitted && @(form).title.$error.required">タイトルを入力してください</span>
        <span class="help-block" ng-show="_submitted && @(form).title.$error.maxlength">
            @(WebConsts.MaxRefLinkTitleLength)文字以内で入力してください
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': _submitted && @(form).comment.$invalid}">
        <label>コメント</label>
        <textarea class="form-control" name="comment" rows="3" placeholder="コメントを入力"
                  ng-model="_input.Comment" ng-maxlength="@(WebConsts.MaxRefLinkCommentLength)"></textarea>
        <span class="help-block" ng-show="_submitted && @(form).comment.$error.maxlength">
            @(WebConsts.MaxRefLinkCommentLength)文字以内で入力してください
        </span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm" title="保存" ng-click="@(ok)($event, @(form).$valid)">保存</button>
        <button type="button" class="btn btn-default btn-sm" title="キャンセル" ng-click="@(cancel)($event)">キャンセル</button>
    </div>
</form>
